@{
    ViewData["Title"] = "Home Page";
}
<div class="container text-center py-3">
    <div class="row">
        <div class="col"></div>

        <div class="col-8">
            <h1>Our amazing tours</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur cupiditate pariatur ipsam eius odio velit corporis incidunt aliquam repellat quibusdam sequi labore at asperiores dolore porro deserunt, possimus omnis quisquam!</p>
        </div>

        <div class="col"></div>

        <div class="text-center">
            <img src="./download.jpg" class="rounded float start" alt="...">
            <div class="card body">
                <h1 class="Explore the sea">Explore the sea</h1>
                <p class="card-text">
                    Sed a lacus augue. Duis porta molestie dignissim. Mauris rutrum tempor
                    augue.
                    Morbi
                    molestie vestibulum vestibulum.
                </p>
                <p class> 2 days - 2 destinations</p>
                <p class>350 €/person</p>
            </div>
        </div>

        <div class="col">


            <div class="card">
                <img src="./download (1).jpg" class="rounded float middle" alt="...">
                <div class="card body">
                    <h5 class="Hike in the forest">Hike in the forest</h5>
                    <p class="card-text">
                        Sed a lacus augue. Duis porta molestie dignissim. Mauris rutrum
                        tempor augue. Morbi
                        molestie vestibulum vestibulum.
                    </p>
                    <p>3 days - 2 destinations</p>
                    <p> € 375/ person</p>

                </div>
            </div>
        </div>

        <div class="col">

            <div class="card">
                <img src="./download (2).jpg" class="rounded float end" alt="...">
                <div class="card body">
                    <h5 class="Camp in the snow">Camp in the snow</h5>
                    <p class="card-text">
                        Sed a lacus augue. Duis porta molestie dignissim. Mauris
                        rutrum tempor augue. Morbi
                        molestie vestibulum vestibulum.
                    </p>
                    <p>2 days - 1 destination</p>
                    <p>€ 400/person</p>



                </div>

            </div>


        </div>

    </div>
</div>

