
@model Travel

<div class="container">
    <h2><u>Compila il form per aggiungere un nuovo viaggio</u></h2>

    <form asp-controller="Travel" asp-action="Add" method="post">
        @Html.AntiForgeryToken()

        <div class="mb-3">
            <label class="form-label fw-bolder">Nome del viaggio:</label>
            <input asp-for="Name" type="text" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label fw-bolder">Descrizione del viaggio:</label>
            <textarea asp-for="Description" rows="10" class="d-block w-100"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="mb-3 form-check">
            <label class="form-label fw-bolder">Url dell'immagine:</label>
            <input asp-for="ImageUrl" type="text" class="form-control" />
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>

        <div class="mb-3 form-check">
            <label class="form-label fw-bolder">Numero di giorni:</label>
            <input asp-for="Days" type="text" class="form-control" />
            <span asp-validation-for="Days" class="text-danger"></span>
        </div>

        <div class="mb-3 form-check">
            <label class="form-label fw-bolder">Numero di destinazioni:</label>
            <input asp-for="Destinations" type="text" class="form-control" />
            <span asp-validation-for="Destinations" class="text-danger"></span>
        </div>

        <div class="mb-3 form-check">
            <label class="form-label fw-bolder">Prezzo del viaggio (€):</label>
            <input asp-for="Price" type="number" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="mb-3 form-check">
            <label class="form-label fw-bolder" for="bg-select">Colore della carta:</label>
            <select class="form-select" aria-label="Default select example" name="bg-select" id="bg-select" asp-for="Color">
                <option selected>Scegli il colore della carta</option>
                <option value="primary">blu</option>
                <option value="success">verde</option>
                <option value="danger">rosso</option>
                <option value="warning">giallo</option>
                <option value="info">celeste</option>
            </select>
            <span asp-validation-for="Color" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Aggiungi</button>
    </form>
</div>