@model List<Travel>
@{
    ViewData["Title"] = "Tours";
}




<div class="container text-center py-3">
    <div class="row">
        <div class="col"></div>

        <div class="col-8">
            <h1>Our amazing tours</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur cupiditate pariatur ipsam eius odio velit corporis incidunt aliquam repellat quibusdam sequi labore at asperiores dolore porro deserunt, possimus omnis quisquam!</p>
        </div>
            @foreach (Travel tour in Model)
            {
                <p>@tour.Name</p>
                <p>@tour.Description</p>
                <p>@tour.Destinations</p>
                <p>@tour.Days</p>
            }

        <div class="col">
      
        </div>
    </div>
</div>

<div class="text-center">
    <h1 class="display-4">Qui ci sono le card base senza tasti come le abbiamo fatte nell'esercizio passato</h1>
</div>
